.home-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}

.image-container {
  margin-left: 20px;
}

.home-container div h1 {
  font-size: 42px;
  text-align: center;
  margin-bottom: 10px;
}

.home-container div button:hover {
  text-decoration: underline;
  font-size: medium;
  transition: 0.5s;
}