.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #333;
    color: white;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}