.login-form {
  display: flex;
  flex-direction: column;
  min-width: 30vw;
  margin: 0 auto;
}

.login-form h2 {
  text-align: center;
}

.login-form input {
  margin-bottom: 12px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 31vw;
  margin: auto;
}

.divider {
  margin: 12px 0;
  border: none;
  border-top: 1px solid #000000;
  width: 100%;
}
.social-login {
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  width: 30vw;
}

.social-login button {
  padding: 10px;
  background-color: transparent;
  color: inherit;
  background-color: #3f3f3f;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  border-radius: 14px;
}

.social-login button:hover {
  background-color: #ffffff;
  color: #3f3f3f;
  border: 1px solid #3f3f3f;
}

.btn {
  padding: 10px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

.page-redirection {
  color: blue;
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 12px;
}